.scroll-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 30px;
  flex-direction: column;
}
.city-wrp {
  display: flex;
  align-items: center;
}
.city-add-btn {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background-color: red;
}
.city-name {
  color: white;
  font-size: 26px;
  margin-left: 10px;
}
.input-wrp {
  display: flex;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
  justify-content: center;
  margin-top: 30px;
  height: 70px;
  border-radius: 8px;
}
.input-icon {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: red;
}
.input-text {
  font-size: 26px;
  margin-left: 10px;
  color: white;
}
.weather-wrp {
  display: flex;
}
.weather-left {
  display: flex;
  flex-direction: column;
}
.weather-text {
  color: white;
  font-size: 150px;
  font-weight: 100;
}
.wind-wrp {
  display: flex;
  align-items: baseline;
}
.wind-icon {
  color: rgba($color: #FFFFFF, $alpha: 0.8);
  font-size: 20px;
}
.wind-text {
  color: white;
  font-size: 26px;
  margin-left: 10px;
}
.weather-now {
  margin-top: 28px;
  color:white;
  font-weight: 200;
}
.air-quality-wrp{
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  width: 70%;
}
.air-quality-icon {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background-color: red;
}
.air-quality-text {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 100;
}
.bottom-wrp {
  display: flex;
  background-color:rgba($color: #000000, $alpha: 0.2);
  height: 100px;
  width: 100%;
  align-items: center;
}
.life-suggestion {
  display: flex;
  margin-top: 20px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  flex-direction: column;
}
.suggest-text {
  color: white;
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: 100;
}
.suggest-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.suggest-item {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
.suggest-icon {
  height: 80px;
  width: 80px;
  background-color: aliceblue;
  border-radius: 40px;
}
.suggest-brief {
  font-size: 26px;
  color: white;
  font-weight: 100;
}
.suggest-type {
  font-size: 22px;
  color: rgba($color: #FFFFFF, $alpha: 0.8);
  font-weight: 100;
}